<div class="nav-bar">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/portfolios">Portfolio</a>
  <a href="/pricing">Pricing</a>
</div>

<style>
  .nav-bar {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
</style>